.analytics{
    display: flex;
    flex-direction: column;
}
.analyticsTop{
    margin: 10px;
    display: flex;
    flex: 6;
    height: 500px;
}
.analyticsTopLeft{
    flex: 4;
    
}
.analyticsTopLeft:hover, .analyticsTopRight:hover, .analyticsCenterRight:hover, .analyticsBottomLeft:hover, .analyticsBottomRight:hover {
-webkit-box-shadow: 2px 5px 11px 2px rgba(0, 0, 0, 0.47);
box-shadow: 5px 7px 13px 5px #c9c9c978;}

.analyticsTopLeft,
.analyticsTopRight,
.analyticsCenterRight,
.analyticsBottomLeft,
.analyticsBottomRight {
    margin: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.analyticsTopRight{
    flex: 2;
    overflow: hidden;
}

.analyticsCenter{
    margin: 10px;
    display: flex;
    flex: 6;
    height: 300px;
}
.analyticsCenterLeft{
    margin: 10px;
    padding: 20px 0px;
    flex: 2;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.analyticsCenterRight{
    margin: 5px;
    flex: 4;
    height: 300px;
}

.analyticsBottom{
    margin: 10px;
    display: flex;
    flex:6;
    height: 300px;
}

.analyticsBottomLeft{
    flex:4;
    height: 300px;
}

.analyticsBottomRight{
    flex: 2;
    height: 300px;
}
